<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <h2> Hola {{user.nombre}}</h2>
  <p>
    Para poder cambiar tu contraseña debes ingresar en el siguiente link:
    <a href="http://localhost:8080/change-password/{{cod}}/{{user.id}}">Cambiar contraseña</a>
  </p>
</body>
</html>
