<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <h2> Hola {{user.nombre}}</h2>
  <p>
    Bienvenido al sistema de solvo.com. Tu contraseña es: {{password}}
  </p>
</body>
</html>
